#text {
  margin: auto;
  width: 25%;
  height: 40%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  display: none;
}
